.cadreFooter {
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
    margin-bottom: 5px;

    border: black solid 2px;
    border-radius: 10px;
    font-size: 1.1em;
}

.hautDePage {
    text-align: right;
}

.iconeFooter {
    margin-left: 2px;
    margin-right: 2px;
}

.mentionsLegales {
    text-align: left;
}

.ligneFooter {
    margin-bottom: 5px;
}

.ligneFooter a {
    color: black;
}
