.cadreLogo {
    background-color: rgb(52, 58, 64);
    text-align: center;
    margin-bottom: 5px;
    border-radius: 0 0 10px 10px;
}

.navBar {
    margin-bottom: 10px;
    border-radius: 10px;
}

.logoEnTete {
    margin: 2%;
}
