.cardStrap {
    margin-bottom: 5px;
}

.cardHeaderStrap {
    border-radius: 10px 10px 0 0 !important;
    border: black solid 2px !important;
    font-size: 1.5em;
    background-color: rgb(220, 220, 220) !important;
}

.cardBodyStrap {
    border-radius: 0 !important;
    border: black solid 1px !important;
}

.cardFooterStrap {
    border-radius: 0 !important;
    border: black solid 1px !important;
    background-color: rgb(225, 225, 225);
    font-style: italic;
}

.bottomBorder {
    border-radius: 0 0 10px 10px !important;
}
